.banner{margin-top: 7px;width: 100%;min-width: 1172px;}
.banner .swiper-pagination{height: 1px;background: #f6af00;bottom: 86px;z-index: 1;}
.banner .swiper-pagination span{position: absolute;left: 50%;bottom: -18px;width: 36px;height: 36px;background-color: #003249;background-repeat: no-repeat;background-position: center;border-radius: 50%;border: 1px solid #f6af00;opacity: 1;}
.banner .swiper-pagination span:before{position: absolute;top: -28px;left: -23px;width: 80px;color: #fff;font-size: 16px;}
.banner .swiper-pagination span:nth-of-type(1){margin-left: -256px;background-image: url(../images/activity/banner-btn1-1.png);}
.banner .swiper-pagination span:nth-of-type(1):before{content: '当地达人';}
.banner .swiper-pagination span:nth-of-type(2){margin-left: -18px;background-image: url(../images/activity/banner-btn2-1.png);}
.banner .swiper-pagination span:nth-of-type(2):before{content: '美食攻略';}
.banner .swiper-pagination span:nth-of-type(3){margin-left: 220px;background-image: url(../images/activity/banner-btn3-1.png);}
.banner .swiper-pagination span:nth-of-type(3):before{content: '达人游记';}
.banner .swiper-pagination span.swiper-pagination-bullet-active{background-color: #f6af00;}
.banner .swiper-pagination span.swiper-pagination-bullet-active:before{color: #f6af00;}
.banner .swiper-pagination span.swiper-pagination-bullet-active:after{content: '';position: absolute;top: 16px;left: -23px;width: 80px;height: 4px;background-color: #f6af00;z-index: -1;}

.community-item{width: 100%;min-width: 1172px;background: #fff;}
.community-item h1{font-size: 38px;text-align: center;font-weight: normal;width: 227px;margin: 0 auto;letter-spacing: 15px;padding-bottom: 5px;}
.community-item p{font-size: 21px;color: #000;text-align: center;margin: 30px 0 40px;}
.daren h1{color: #00b9ef;border-bottom: 8px solid #00b9ef;}
.daren dl img{display: block;}
.daren dt{float: left;margin-right: 2px;}
.daren dd{float: left;margin-left: 28px;}
.daren dd.last{margin-top: 30px;}
.foot h1{color: #f6af00;border-bottom: 8px solid #f6af00;}
.foot .foot-list{width: 100%;overflow: hidden;overflow-x: auto;}
.foot .foot-list ul{width: 5960px;}
.foot .foot-list li{float: left;margin-right: 22px;position: relative;}
.foot .foot-list li div{width: 100%;height: 68px;line-height: 68px;text-align: center;font-size: 24px;color: #fff;position: absolute;bottom: 0;left: 0;right: 0;}
.foot .foot-list li:nth-of-type(4n+1) div{background: rgba(255,66,0,0.9);}
.foot .foot-list li:nth-of-type(4n+2) div{background: rgba(0,149,255,0.9);}
.foot .foot-list li:nth-of-type(4n+3) div{background: rgba(149,148,40,0.9);}
.foot .foot-list li:nth-of-type(4n+4) div{background: rgba(141,104,78,0.9);}
.foot .foot-list li img{display: block;}
.travel-note{margin-bottom: 40px;}
.travel-note h1{color: #7fb545;border-bottom: 8px solid #7fb545;}
.travel-note dl img{display: block;}
.travel-note dt{float: left;margin-right: 5px;}
.travel-note dd{float: left;margin-left: 29px;}
.travel-note dd:nth-last-of-type(1),.travel-note dd:nth-last-of-type(2){margin-top: 34px;}
