.content-show{width: 100%;min-width: 1172px;background: #ccf1fc;margin: 113px 0 370px;padding-top: 65px;position: relative;}
.content-show .hr{position: absolute;left: 0;margin-top: 10px;}
.content-show .rotate-bg{background: transparent;}
.dg-container{width: 1107px;margin: 0 auto;position: relative;}
.dg-wrapper{width: 481px;height: 316px;margin: 0 auto;position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{width: 482px;/*height: 316px;*/display: block;position: absolute;left: 0;top: 0;box-shadow: 0px 10px 20px rgba(0,0,0,0.3);}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{display: block;width: 100%;}
.dg-wrapper a div{line-height: 24px;color: #000;font-size: 12px;width: 1025px;left: -245px;bottom: -300px;display: none;position: absolute;}
.dg-wrapper a div h6{line-height: 30px;color: #015992;font-size: 18px;margin-bottom: 30px;}
.dg-wrapper a div p{line-height: 24px;color: #000;font-size: 12px;}
.dg-wrapper a.dg-center div{display: block;}
/*.dg-container nav{width: 58px;position: absolute;z-index: 1000;bottom: 40px;left: 50%;margin-left: -29px;}*/
.dg-container nav span{text-indent: -9000px;float: left;cursor:pointer;width: 12px;height: 20px;opacity: 0.8;position: absolute;top: 50%;margin-top: -30px;}
.dg-container nav span:hover{opacity: 1;}
.dg-container nav span.dg-prev{background: url(../images/prev.png) no-repeat left center;left: 0;}
.dg-container nav span.dg-next{background: url(../images/next.png) no-repeat right center;right: 0;}